*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 62px;
    background-color: rgba(44,62,80,255);
}

/* MAIN 1 */
#jumbo{
    background-color: rgba(26,188,156,255);
}

.fs-1 {
    font-size: 4.5rem !important;
}

/* MAIN 2 */
.fs-2{
    font-size: 3rem !important;
}

/* MAIN 3 */
#about{
    background-color: rgba(26,188,156,255);
}
